<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">My App</a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          #navBurger
          (click)="navMenu.classList.toggle('is-active'); navBurger.classList.toggle('is-active')">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" #navMenu>
        <div class="navbar-end">
          <a class="navbar-item" routerLink="/jobs">Jobs</a>
          <a class="navbar-item" routerLink="/user">User</a>
        </div>
      </div>
    </div>
  </nav>
