<div class="columns is-centered">
  <div class="column is-half">
    <p class="title is-size-1"> StreamFirst </p>
    <p class="subtitle"> Project list</p>
      <p class="control has-icons-right">
        <input class="input" type="text" placeholder="search for project name" #input [(ngModel)]="name" (ngModelChange)="filterProjects()">
        <span class="icon is-small is-right">
          <i class="fas fa-search"></i>
        </span>
      </p>
  </div>
</div>

<div class="columns is-multiline is-tablet">
  <div class="column is-half-tablet is-one-third-desktop is-one-quarter-widescreen" *ngFor="let project of projects">
    <div class="card">
      <a [routerLink]="['/project', project.slug]">
        <div class="card-content">
          <p class="title is-size-4"> {{project.name}} </p>
          <p class="subtitle is-size-6"> {{project.description}} </p>
          <p class="has-text-grey is-size-7"> Last update: {{fromNow(project.lastUpdateUtc)}} </p>
        </div>
      </a>
    </div>
  </div>
</div>